# Python
__pycache__/
*.pyc

# Node
node_modules/
.node-persist/

# WhatsApp sessão
auth_info/
_IGNORE_chatbot/
**/runtime/

# Ambiente
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# Build
dist/
build/
coverage/
